body{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
} 
div{
    height: 100px;
    width: 500px;
    border: solid black;
    text-align: center;
}